{% extends 'navBar/jobSeekerNavBar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Profile Success</title>
    {% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;

        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Profile Created Successfully!</h2>
        <p>Your job profile has been created successfully.</p>
    </div>
    {% endblock %}
</body>
</html>
