{% extends 'navBar/projectNavBar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Printing</title>
</head>
<body>

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
        <div>
    <br>
  <form method="post" action="{% url 'qrLogic' %}">
        {% csrf_token %}
        <label>Enter Text:</label>
        <input type="text" name="userInput" required>
      <br>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
</div>
    </div>
    <div class="col">
        <img src="{% static img_path %}" alt="QR CODE">
    </div>
  </div>
</div>

{% endblock %}

</body>
</html>